<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<id property="boardNo" column="B_NO"/>
		<result property="boardWriter" column="B_WRITER"/>
		<result property="boardTitle" column="B_TITLE"/>
		<result property="boardContent" column="B_CONTENT"/>
		<result property="count" column="B_COUNT"/>
		<result property="createDate" column="B_DATE"/>
		<result property="status" column="B_STATUS"/>
		<result property="originName" column="B_ORIGIN"/>
		<result property="changeName" column="B_CHANGE"/>
	
	</resultMap>
	
	<resultMap id="replyResultSet" type="BoradReply">
		<id column="B_R_NO" property="replyNo"/>
		<result column="B_R_CONTENT" property="replyContent"/>
		<result column="B_R_BNO" property="refBoardNo"/>
		<result column="B_R_WRITER" property="replyWriter"/>
		<result column="B_R_CREATE" property="createDate"/>
		<result column="B_R_STATUS" property="status"/>
	</resultMap>
	
	<resultMap id="boardFResultSet" type="Fashion">
		<id property="fashionNo" column="F_NO"/>
		<result property="fashionWriter" column="F_WRITER"/>
		<result property="fashionTitle" column="F_TITLE"/>
		<result property="fashionContent" column="F_CONTENT"/>
		<result property="fashionCount" column="F_COUNT"/>
		<result property="fashionCreateDate" column="F_DATE"/>
		<result property="fashionStatus" column="F_STATUS"/>
		<result property="fashionOriginName" column="F_ORIGIN"/>
		<result property="fashionChangeName" column="F_CHANGE"/>		
	</resultMap>
	
	<resultMap id="replyFResultSet" type="FashionReply">
		<id column="F_R_NO" property="replyNo"/>
		<result column="F_R_CONTENT" property="replyContent"/>
		<result column="F_R_BNO" property="refFashionNo"/>
		<result column="F_R_WRITER" property="replyWriter"/>
		<result column="F_R_CREATE" property="createDate"/>
		<result column="F_R_STATUS" property="status"/>
	</resultMap>
	
	<select id="selectListCount" resultType = "_int">		
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS='Y'
	</select>
	
	<select id = "selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS = 'Y'
		ORDER BY B_NO DESC
	</select>
	
	<select id="selectFListCount" resultType = "_int">		
		SELECT COUNT(*)
		FROM FASHION
		WHERE F_STATUS='Y'
	</select>
	
	<select id = "selectFList" resultMap="boardFResultSet">
		SELECT *
		FROM FASHION
		WHERE F_STATUS = 'Y'
		ORDER BY F_NO DESC
	</select>
	
	
	<insert id = "insertBoard" parameterType="Board">
	insert into board
	values(seq_b_no.nextval, #{boardWriter},#{boardTitle}, #{boardContent},  SYSDATE,default,default, #{originName}, #{changeName})
	</insert>
	
	<insert id = "insertFBoard" parameterType="Fashion">
	insert into fashion
	values(seq_f_no.nextval, #{fashionWriter},#{fashionTitle}, #{fashionContent},  SYSDATE,default,default, #{fashionOriginName}, #{fashionChangeName})
	</insert>
	
	<select id = "selectBoard" resultMap= "boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_NO = #{bno}
		AND B_STATUS = 'Y'
	</select>
	
	<select id = "selectFBoard" resultMap= "boardFResultSet">
		SELECT *
		FROM FASHION
		WHERE F_NO = #{fno}
		AND F_STATUS = 'Y'
	</select>
	
	<select id  = "updateIncreaseCount" parameterType="_int">
		UPDATE BOARD
		SET B_COUNT = B_COUNT + 1
		WHERE B_NO = #{bno}
		AND B_STATUS = 'Y'
	</select>

	
	<select id  = "updateFIncreaseCount" parameterType="_int">
		UPDATE FASHION
		SET F_COUNT = F_COUNT + 1
		WHERE F_NO = #{fno}
		AND F_STATUS = 'Y'
	</select>
	
	<update id = "deleteBoard" parameterType="_int">
		UPDATE BOARD 
		SET B_STATUS = 'N'
		WHERE B_NO = #{bno}
	</update>
	
	<update id = "deleteFBoard" parameterType="_int">
		UPDATE FASHION 
		SET F_STATUS = 'N'
		WHERE F_NO = #{fno}
	</update>
	
	<update id = "updateBoard" parameterType="Board">
		UPDATE BOARD
		SET B_TITLE = #{boardTitle}, B_CONTENT = #{boardContent}, B_ORIGIN = #{originName}, B_CHANGE = #{changeName}
		WHERE B_NO = #{boardNo}
	</update>
	
	<update id = "updateFBoard" parameterType="Fashion">
		UPDATE FASHION
		SET F_TITLE = #{fashionTitle}, F_CONTENT = #{fashionContent}, F_ORIGIN = #{fashionOriginName}, F_CHANGE = #{fashionChangeName}
		WHERE F_NO = #{fashionNo}
	</update>
	
	<insert id = "insertReply" parameterType = "BoradReply">
		insert into boradreply
		values(seq_b_r_no.nextval,  #{refBoardNo}, #{replyWriter}, #{replyContent},SYSDATE,default)
	</insert>
	
	<insert id = "insertFReply" parameterType = "FashionReply">
		insert into fashionreply
		values(seq_f_r_no.nextval,  #{refFashionNo}, #{replyWriter}, #{replyContent},SYSDATE,default)
	</insert>
	
	<select id = "selectReplyList" parameterType="_int" resultMap="replyResultSet">
		select B_R_NO, B_R_CONTENT, B_R_WRITER, B_R_CREATE
		from boradreply
		where B_R_BNO = #{bno} and B_R_STATUS = 'Y'
		order by B_R_NO desc
	</select>
	
	<select id = "selectFReplyList" parameterType="_int" resultMap="replyFResultSet">
		select F_R_NO, F_R_CONTENT, F_R_WRITER, F_R_CREATE
		from fashionreply
		where F_R_BNO = #{fno} and F_R_STATUS = 'Y'
		order by F_R_NO desc
	</select>
	
	<select id = "selectTopList" resultMap= "boardResultSet"> 
	<![CDATA[ 
		select *
		from(select *
			from board
			where b_status = 'Y'
			order by b_count desc)
		where rownum <=5		
	]]>
	</select>
	
	<select id = "selectFTopList" resultMap= "boardFResultSet"> 
	<![CDATA[ 
		select *
		from(select *
			from fashion
			where f_status = 'Y'
			order by f_count desc)
		where rownum <=5		
	]]>
	</select>
	
	<select id="selectSearchListCount"
			parameterType="BoardsearchCondition"
			resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS='Y'
		<if test="title != null">
			AND B_TITLE LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
			AND B_CONTENT LIKE '%'||#{content}||'%'
		</if>
		<if test="writer != null">
			AND B_WRITER LIKE '%'||#{writer}||'%'
		</if>
		
	</select>
	
	<select id="selectSearchList"
			parameterType="searchCondition"
			resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS='Y'
		<if test="title != null">
			AND B_TITLE LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
			AND B_CONTENT LIKE '%'||#{content}||'%'
		</if>
		<if test="writer != null">
			AND B_WRITER LIKE '%'||#{writer}||'%'
		</if>		
	</select>
	
	<select id="selectSearchFListCount"
			parameterType="BoardsearchCondition"
			resultType="_int">
		SELECT COUNT(*)
		FROM FASHION
		WHERE F_STATUS='Y'
		<if test="title != null">
			AND F_TITLE LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
			AND F_CONTENT LIKE '%'||#{content}||'%'
		</if>
		<if test="writer != null">
			AND F_WRITER LIKE '%'||#{writer}||'%'
		</if>
		
	</select>
	
	<select id="selectSearchFList"
			parameterType="searchCondition"
			resultMap="boardFResultSet">
		SELECT *
		FROM FASHION
		WHERE F_STATUS='Y'
		<if test="title != null">
			AND F_TITLE LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
			AND F_CONTENT LIKE '%'||#{content}||'%'
		</if>
		<if test="writer != null">
			AND F_WRITER LIKE '%'||#{writer}||'%'
		</if>		
	</select>
	
	<!-- 1위 리스트  -->
	<select id = "selectOneTopList" resultMap= "boardResultSet"> 
	<![CDATA[ 
		select *
		from(select *
			from board
			where b_status = 'Y'
			order by b_count desc)
		where rownum <=3		
	]]>
	</select>
	
</mapper>