<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupBuyMapper">
	<resultMap type="GroupBuyBoard" id="groupBuyBoardResultSet">
		<id property="gbNo" column="GB_NO"/>
		<result property="gbMno" column="GB_MNO"/>
		<result property="gbTitle" column="GB_TITLE"/>
		<result property="gbContent" column="GB_CONTENT"/>
		<result property="gbDate" column="GB_DATE"/>
		<result property="gbCount" column="GB_COUNT"/>
		<result property="gbStatus" column="GB_STATUS"/>
		<result property="gbOriginalName" column="GB_ORIGIN_NAME"/>
		<result property="gbChangedName" column="GB_CHANGE_NAME"/>
	</resultMap>
	
	<resultMap type="GroupBuyProduct" id="groupBuyProuctResultSet">
		<id property="pNo" column="PRODUCT_NO"/>
		<result property="pName" column="PRODUCT_NAME"/>
		<result property="pPrice" column="PRODUCT_PRICE"/>
		<result property="pPurchase" column="PRODUCT_PURCHASE"/>
		<result property="pLimit" column="PRODUCT_LIMIT"/>
		<result property="pMaxPurchase" column="PRODUCT_MAX_PURCHASE"/>
		<result property="pDate" column="PRODUCT_DATE"/>
		<result property="pCno" column="PRODUCT_CNO"/>
		<result property="pStatus" column="PRODUCt_STATUS"/>
		<result property="pAccount" column="PRODUCT_ACCOUNT"/>
	</resultMap>
	
	<resultMap type="PurchaseHistory" id="purchaseHistory">
		<id property="phNo" column="PH_NO"/>
		<result property="phProduct" column="PH_PRODUCT"/>
		<result property="phProductName" column="PH_PRODUCT_NAME"/>
		<result property="phQuantity" column="PH_QUANTITY"/>
		<result property="phCno" column="PH_CNO"/>
		<result property="phBuyer" column="PH_BUYER"/>
		<result property="phBuyerName" column="PH_BUYER_NAME"/>
		<result property="phSeller" column="PH_SELLER"/>
		<result property="phRecordDate" column="PH_RECORD_DATE"/>
		<result property="phChangeDate" column="PH_CHANGE_DATE"/>
		<result property="phAddress" column="PH_ADDRESS"/>
		<result property="phStatus" column="PH_STATUS"/>
		<result property="phSalesStatus" column="PH_SALES_STATUS"/>
		<result property="phInvoice" column="PH_INVOICE"/>
	</resultMap>
	
	<select id="selectList"
			resultMap="groupBuyBoardResultSet">
		SELECT *
		FROM GROUP_BUYING
		WHERE GB_STATUS='Y'
		ORDER BY GB_NO
	</select>
	
	<select id="selectBoard"
			parameterType="_int"
			resultMap="groupBuyBoardResultSet">
		SELECT *
		FROM GROUP_BUYING
		WHERE GB_NO=#{gbNo}
		AND GB_STATUS='Y'
	</select>
	
	<insert id="insertBoard"
			parameterType="GroupBuyBoard">
		INSERT INTO GROUP_BUYING
		(GB_NO,GB_MNO,GB_TITLE,GB_CONTENT,GB_DATE,GB_COUNT,GB_STATUS,GB_ORIGIN_NAME,GB_CHANGE_NAME)
		VALUES
		(seq_gb_no.nextval, #{gbMno}, #{gbTitle}, #{gbContent}, default, default, default, #{gbOriginalName}, #{gbChangedName})
	</insert>
	
	<insert id="insertProduct"
			parameterType="GroupBuyProduct">
		INSERT INTO GB_PRODUCT
		(PRODUCT_NO,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_LIMIT,PRODUCT_MAX_PURCHASE,PRODUCT_DATE,PRODUCT_CNO,PRODUCT_PURCHASE,PRODUCT_STATUS,PRODUCT_ACCOUNT)
		VALUES 
		(seq_product_no.nextval,#{pName},#{pPrice},#{pLimit},#{pMaxPurchase},default,#{pCno},default,default,#{pAccount})		
	</insert>
	
	<select id="selectLastBoardNum"
			resultType="_int">
			
		SELECT GB_NO FROM (SELECT GB_NO 
		FROM GROUP_BUYING WHERE GB_STATUS='Y' ORDER BY GB_NO DESC) 
		WHERE ROWNUM=1
			
	</select>
	
	<select id="selectProducts" 
			resultMap="groupBuyProuctResultSet">
		SELECT 
            PRODUCT_NO,
            PRODUCT_NAME,
            PRODUCT_PRICE,
            PRODUCT_PURCHASE,
            PRODUCT_LIMIT,
            PRODUCT_MAX_PURCHASE,
            PRODUCT_DATE,
            PRODUCT_CNO,
            PRODUCT_STATUS,
            PRODUCT_ACCOUNT
		FROM GB_PRODUCT
        JOIN GROUP_BUYING ON GROUP_BUYING.GB_NO = GB_PRODUCT.PRODUCT_CNO
        WHERE GROUP_BUYING.GB_STATUS='Y'
		ORDER BY PRODUCT_NO
	</select>
	
	<select id="selectProduct"
			parameterType="_int"
			resultMap="groupBuyProuctResultSet">
		SELECT *
		FROM GB_PRODUCT
		WHERE PRODUCT_CNO=#{gbNo}
	</select>

	<select id="selectProductWithPno"
			parameterType="_int"
			resultMap="groupBuyProuctResultSet">
		SELECT *
		FROM GB_PRODUCT
		WHERE PRODUCT_NO=#{pNo}
	</select>
	
	<select id="selectListCount"
			resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_BUYING
		WHERE GB_STATUS='Y'
	</select>
	
	<select id="selectSearchListCount"
			parameterType="searchCondition"
			resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_BUYING
		JOIN GB_PRODUCT ON GROUP_BUYING.GB_NO = GB_PRODUCT.PRODUCT_CNO
		WHERE GB_STATUS='Y'
		<if test="product != null">
			AND GB_PRODUCT.PRODUCT_NAME LIKE '%'||#{product}||'%'
		</if>
		<if test="title != null">
			AND GB_TITLE LIKE '%'||#{title}||'%'
		</if>
	</select>
	
	<select id="selectSearchList"
			parameterType="searchCondition"
			resultMap="groupBuyBoardResultSet">
		SELECT *
		FROM GROUP_BUYING
		JOIN GB_PRODUCT ON GROUP_BUYING.GB_NO = GB_PRODUCT.PRODUCT_CNO
		WHERE GB_STATUS='Y'
		<if test="product != null">
			AND GB_PRODUCT.PRODUCT_NAME LIKE '%'||#{product}||'%'
		</if>
		<if test="title != null">
			AND GB_TITLE LIKE '%'||#{title}||'%'
		</if>			
	</select>
	
	<select id="selectSearchProducts"
			parameterType="searchCondition"
			resultMap="groupBuyProuctResultSet">
		SELECT * 
		FROM GB_PRODUCT
		JOIN GROUP_BUYING ON GB_PRODUCT.PRODUCT_CNO = GROUP_BUYING.GB_NO
		WHERE GROUP_BUYING.GB_STATUS='Y'
		<if test="product != null">
			AND GB_PRODUCT.PRODUCT_NAME LIKE '%'||#{product}||'%'
		</if>
		<if test="title != null">
			AND GROUP_BUYING.GB_TITLE LIKE '%'||#{title}||'%'
		</if>	
		ORDER BY GB_PRODUCT.PRODUCT_NO
	</select>
	
	<update id="updateBoard"
			 parameterType="GroupBuyBoard">		
		UPDATE GROUP_BUYING SET
		GB_TITLE = #{gbTitle},
		GB_CONTENT = #{gbContent},
		GB_ORIGIN_NAME = #{gbOriginalName},
		GB_CHANGE_NAME = #{gbChangedName}
		WHERE GB_NO = #{gbNo} AND GB_STATUS = 'Y'			 
	</update>
	
	<update id="updateProduct"
			 parameterType="GroupBuyProduct">	
		UPDATE GB_PRODUCT SET
		PRODUCT_NAME = #{pName},
		PRODUCT_PRICE = #{pPrice},
		PRODUCT_LIMIT = #{pLimit}
		WHERE PRODUCT_CNO = #{pCno}
	</update>
	
	<update id="deleteBoard"
			parameterType="_int">	
		UPDATE GROUP_BUYING SET
		GB_STATUS='N'
		WHERE GB_NO=#{gbNo}
	</update>
	
	<insert id="insertPurchaseHistory"
			parameterType="purchaseHistory">
		INSERT INTO GB_PURCHASE_HISTORY
		(PH_NO,PH_PRODUCT,PH_QUANTITY,PH_CNO,PH_BUYER,PH_BUYER_NAME,PH_SELLER,PH_RECORD_DATE,PH_CHANGE_DATE,PH_ADDRESS,PH_STATUS,PH_SALES_STATUS,PH_INVOICE)
		VALUES
		(seq_gb_purchase_no.nextval,#{phProduct},#{phQuantity},#{phCno},#{phBuyer},#{phBuyerName},#{phSeller},default,default,#{phAddress},default,default,default)	
	</insert>
	
	<update id="updatePurchase"
			parameterType="_int">
		UPDATE GB_PRODUCT SET
		PRODUCT_PURCHASE = PRODUCT_PURCHASE+1
		WHERE PRODUCT_NO = #{pNo}
	</update>
	
	<select id="selectSalesHistories"
			parameterType="string"
			resultMap="purchaseHistory">
		SELECT 
		    PH_NO,
		    PH_PRODUCT,
		    PRODUCT_NAME AS PH_PRODUCT_NAME,
		    PH_QUANTITY,
		    PH_CNO,
		    PH_BUYER,
		    PH_BUYER_NAME,
		    PH_SELLER,
		    PH_RECORD_DATE,
		    PH_CHANGE_DATE,
		    PH_ADDRESS,
		    PH_STATUS,
		    PH_SALES_STATUS,
		    PH_INVOICE
		FROM GB_PURCHASE_HISTORY
		JOIN GB_PRODUCT ON GB_PURCHASE_HISTORY.PH_PRODUCT = GB_PRODUCT.PRODUCT_NO
		WHERE PH_SELLER = #{sellerId}
		ORDER BY PH_RECORD_DATE
	</select>
	
	<select id="selectPurchaseHistories"
			parameterType="string"
			resultMap="purchaseHistory">
		SELECT 
		    PH_NO,
		    PH_PRODUCT,
		    PRODUCT_NAME AS PH_PRODUCT_NAME,
		    PH_QUANTITY,
		    PH_CNO,
		    PH_BUYER,
		    PH_BUYER_NAME,
		    PH_SELLER,
		    PH_RECORD_DATE,
		    PH_CHANGE_DATE,
		    PH_ADDRESS,
		    PH_STATUS,
		    PH_SALES_STATUS,
		    PH_INVOICE
		FROM GB_PURCHASE_HISTORY
		JOIN GB_PRODUCT ON GB_PURCHASE_HISTORY.PH_PRODUCT = GB_PRODUCT.PRODUCT_NO
		WHERE PH_BUYER = #{buyerId}		
	</select>
	
	<update id="closeDeal"
			parameterType="_int">
		UPDATE GB_PRODUCT SET PRODUCT_STATUS='N'
		WHERE PRODUCT_NO = #{pNo}
	</update>
	
	<update id="prepareDeal"
			parameterType="hashmap">
		UPDATE GB_PURCHASE_HISTORY SET
		PH_SALES_STATUS = 'R',
		PH_CHANGE_DATE = SYSDATE
		WHERE PH_BUYER = #{phBuyer} 
		AND PH_PRODUCT = #{phProduct}
	</update>
	
	<update id="completeDeal"
			parameterType="hashmap">
		UPDATE GB_PURCHASE_HISTORY SET
		PH_SALES_STATUS = 'C',
		PH_CHANGE_DATE = SYSDATE,
		PH_INVOICE = #{phInvoice}
		WHERE PH_BUYER = #{phBuyer} 
		AND PH_PRODUCT = #{phProduct}
	</update>
	
	<update id="cancelDeal"
			parameterType="hashmap">
		UPDATE GB_PURCHASE_HISTORY SET
		PH_STATUS = 'N',
		PH_CHANGE_DATE = SYSDATE
		WHERE PH_BUYER = #{phBuyer} 
		AND PH_PRODUCT = #{phProduct}
		AND PH_NO = #{phNo}
	</update>
	
	<update id="decreasePurchaseCount"
			parameterType="_int">
		UPDATE GB_PRODUCT SET
		PRODUCT_PURCHASE = PRODUCT_PURCHASE-1
		WHERE PRODUCT_NO = #{pNo}
	</update>
	
	<update id="reopenDeal"
			parameterType="_int">
		UPDATE GB_PRODUCT SET
		PRODUCT_STATUS = 'Y'
		WHERE PRODUCT_NO = #{pNo}		
	</update>
	
	<select id="selectPreviousPurchaseCount"
			parameterType="hashmap"
			resultType="_int">
		SELECT
		    NVL(SUM(PH_QUANTITY),-1) AS PH_QUANTITY_SUM
		FROM GB_PRODUCT
		JOIN GB_PURCHASE_HISTORY ON GB_PURCHASE_HISTORY.PH_PRODUCT = GB_PRODUCT.PRODUCT_NO
		WHERE PRODUCT_NO=#{phProduct} AND PH_BUYER=#{phBuyer} AND PH_STATUS='Y'
		GROUP BY PH_BUYER
		
		UNION ALL
		
		SELECT -1 AS PH_QUANTITY_SUM
		FROM DUAL
		WHERE NOT EXISTS(
			SELECT
			    NVL(SUM(PH_QUANTITY),-1) AS PH_QUANTITY_SUM
			FROM GB_PRODUCT
			JOIN GB_PURCHASE_HISTORY ON GB_PURCHASE_HISTORY.PH_PRODUCT = GB_PRODUCT.PRODUCT_NO
			WHERE PRODUCT_NO=#{phProduct} AND PH_BUYER=#{phBuyer} AND PH_STATUS='Y'
			GROUP BY PH_BUYER
		)
	</select>
	
</mapper>
