<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usedMarketMapper">
	
	
	<resultMap id="usedMarketResultSet" type="UsedMarket">
		<id property="um_No" column="UM_NO"/>
		<result property="um_Title" column="UM_TITLE"/>
		<result property="um_Content" column="UM_CONTENT"/>
		<result property="um_Writer" column="UM_WRITER"/>
		
		<result property="um_Date" column="UM_DATE"/>
		<result property="um_View_Count" column="UM_VIEW_COUNT"/>
		
		<result property="um_Category" column="UM_CATEGORY"/>
		<result property="um_System" column="UM_SYSTEM"/>
		<result property="um_Status" column="UM_STATUS"/>
		<result property="um_Price" column="UM_PRICE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>

	
	<insert id="insertUsedMarket" parameterType="UsedMarket">
	
		INSERT INTO USEDMARKET
		VALUES(SEQ_UNO.nextval , #{um_Title},#{um_Content},#{um_Writer},SYSDATE,default,#{um_Category},#{um_System},default,#{um_Price},#{originName},#{changeName}) 

	
	</insert>
	
	<select id="selectListCount" resultType="_int"> <!-- 페이징바 카운트 -->
		SELECT COUNT(*)
		FROM USEDMARKET
		WHERE UM_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="usedMarketResultSet">
		SELECT *
		FROM USEDMARKET
		WHERE UM_STATUS='Y'
		ORDER BY UM_NO DESC
	
	
	</select>
	
	<select id="selectListCategory" resultMap ="usedMarketResultSet">
		SELECT *
		FROM USEDMARKET
		WHERE UM_STATUS = 'Y'
		AND UM_CATEGORY = #{category}
		ORDER BY UM_NO DESC
	
	
	
	</select>
	
	<update id="updateIncreaseCount" parameterType="_int" >
		UPDATE USEDMARKET
		SET UM_VIEW_COUNT = UM_VIEW_COUNT +1
		WHERE UM_NO = #{uno}
		AND UM_STATUS='Y'
	
	
	</update>
	
	<select id="selectUsedMarket"  parameterType="_int" resultMap="usedMarketResultSet">
		SELECT *
		FROM USEDMARKET
		WHERE UM_STATUS='Y'
		AND UM_NO = #{uno}

	
	</select>

</mapper>
