<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings><!-- value에 NULL -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ila.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.ila.board.model.vo.BoradReply" alias="BoradReply" />
		<typeAlias type="com.kh.ila.board.model.vo.BoardSearchCondition" alias="BoardSearchCondition"/>
		<typeAlias type="com.kh.ila.board.model.vo.Fashion" alias="Fashion" />
		<typeAlias type="com.kh.ila.board.model.vo.FashionReply" alias="FashionReply" />
		<typeAlias type="com.kh.ila.food.model.vo.Food" alias="Food"/>
		<typeAlias type="com.kh.ila.food.model.vo.FoodReply" alias="FoodReply" />
		<typeAlias type="com.kh.ila.food.model.vo.FoodSearchCondition" alias="FoodSearchCondition"/>
		<typeAlias type="com.kh.ila.food.model.vo.FoodP" alias="FoodP" />
		<typeAlias type="com.kh.ila.food.model.vo.FoodPReply" alias="FoodPReply" />
		<typeAlias type="com.kh.ila.housing.model.vo.Housing" alias="Housing"/>
		<typeAlias type="com.kh.ila.housing.model.vo.HousingReply" alias="HousingReply" />
		<typeAlias type="com.kh.ila.housing.model.vo.HousingSearchCondition" alias="HousingSearchCondition"/>
		<typeAlias type="com.kh.ila.housing.model.vo.HousingP" alias="HousingP" />
		<typeAlias type="com.kh.ila.housing.model.vo.HousingPReply" alias="HousingPReply" />
		<typeAlias type="com.kh.ila.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.kh.ila.used_trade.model.vo.UsedMarket" alias="UsedMarket"/>
  		<typeAlias type="com.kh.ila.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.ila.group_buy.model.vo.GroupBuyBoard" alias="GroupBuyBoard"/>
		<typeAlias type="com.kh.ila.group_buy.model.vo.GroupBuyProduct" alias="GroupBuyProduct"/>
		<typeAlias type="com.kh.ila.group_buy.model.vo.SearchCondition" alias="SearchCondition"/>
		<typeAlias type="com.kh.ila.group_buy.model.vo.PurchaseHistory" alias="PurchaseHistory"/>
		<typeAlias type="com.kh.ila.real_estimate.model.vo.Real" alias="Real"/>
		<typeAlias type="com.kh.ila.real_estimate.model.vo.RealWish" alias="RealWish"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/food-mapper.xml"/>
		<mapper resource="/mappers/housing-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>	
		<mapper resource="/mappers/usedMarket-mapper.xml"/>
		<mapper resource="/mappers/group_buy-mapper.xml"/>
		<mapper resource="/mappers/real-mapper.xml"/>
		<mapper resource="/mappers/real_wish-mapper.xml"/>
	</mappers> 

</configuration>