			#btnArea{
				display:flex;
				float:left;
			}
			
			 #searchArea{
			 	display: flex;
			    float: left;
			 }
			 
            .card {
                display: inline-block;
                justify-content: center;
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 18rem;
                height: 10%;
            }
            .pagination {
                display: flex;
                justify-content: center;
            }
            #cardArea {
                display: flex;
                flex-wrap: wrap;
                margin-bottom : 50px;
            }
            #cardArea > .card {
                box-shadow: 3px 3px lightgray;
            }
            #mainTitle {
                margin-top: 20px;
            }
            
            #page-top{
            	padding-top: 61px; 
            }