        thead>tr>th{
            text-align: center;
        }
        
        #purchaseForm{
        	display: none;
        }
        
        #deleteForm{
        	display : inline;
        }
        
        #viewArea{
        	margin-bottom:20px;
        }