 .container {
 	display: flex;
    float: left;
 }
            .card {
                display: inline-block;
                justify-content: center;
                margin-left: 20px;
                margin-top: 20px;
                width: 30%;
            }
            .pagination {
                display: flex;
                justify-content: center;
            }
            #cardArea {
                display: flex;
                flex-wrap: wrap;
            }
            #cardArea > .card {
                border: 1px solid gray;
                box-shadow: 5px 5px lightgray;
            }
            #mainTitle {
                margin-top: 20px;
            }
            
            #page-top{
            	padding-top: 61px; 
            }